.login-div {
  height: 100%;
  position: relative;
}

.error {
  color: red;
}

.login-form {
  padding-top: 7rem;
  margin-top: -2rem;
  margin-left: 17rem;
  margin-right: 10rem;
}

label {
  padding: 1rem;
  font-weight: bold;
}

.label-div {
  margin-bottom: -1rem;
}

p {
  padding: 1rem;
  margin: 1rem;
}

.login-btn {
  margin: 1rem 7rem 7rem -11rem;
  display: inline-block;
  position: absolute;
}
