ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 1rem;
}

li {
  font-size: 1.25rem;
  text-decoration: none;
}

b {
  color: #9ad666;
}

.navBar {
  background: #42493a;
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding: 0.75rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid #9ad666;
  color: #9ad666;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: #9ad666;
  color: #42493a;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
