@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  background-color: #a6ae9d;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.app-div {
  min-height: 100vh;
  margin-bottom: -5rem;
}

.push {
  height: 5rem;
}
