.continue-container {
  padding: 0 30rem 0 20rem;
  position: relative;
}

.finish-register-btn {
  margin: 2rem 0 0 17rem;
}

.labels > label {
  display: block;
  clear: left;
  float: left;
  width: 500px;
  text-align: right;
}
.labels > input {
  display: block;
  float: right;
}
